@import url("_fonts.css");

.card {
	font-size: 20px;
	text-align: center;
	color: #313131;
	background-color: #E1C4B1;
}

.card.nightMode {
	background-color: #01024e;
	color: #EEEEEE;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.mobile .row {
	flex-direction: column;
}

.divider {
	border-top: 3px solid;
}

.space, .divider {
	margin-top: 1em;
	margin-bottom: 1em;
}

.text-color-primary {
	color: #E43300;
}

.nightMode .text-color-primary {
	color: #acdbdf;
}

.text-color-secondary {
	color: #007B6C;
}

.nightMode .text-color-secondary {
	color: #f3bad6;
}

.text-color-tertiary {
	color: #545454;
}

.nightMode .text-color-tertiary {
	color: #E2E2E2;
}

.font-family-merriweather {
	font-family: "Merriweather", arial;
}

.font-family-notosanskr {
	font-family: "Noto Sans KR", arial;
}

.font-size-20px {
	font-size: 20px !important;
}
.font-size-25px {
	font-size: 25px !important;
}
.font-size-30px {
	font-size: 30px !important;
}
.font-size-35px {
	font-size: 35px !important;
}
.font-size-40px {
	font-size: 40px !important;
}
.font-size-45px {
	font-size: 45px !important;
}
.font-size-50px {
	font-size: 50px !important;
}
.font-weight-900 {
	font-weight: 900;
}
.font-weight-800 {
	font-weight: 800;
}
.font-weight-700 {
	font-weight: 700;
}
.font-weight-600 {
	font-weight: 600;
}
.font-weight-500 {
	font-weight: 500;
}
.font-weight-400 {
	font-weight: 400;
}
.font-weight-300 {
	font-weight: 300;
}
.text-align-left {
	text-align: left;
}